#about-background {
    background-color: cornflowerblue;
}

.about-logo {
    font-family: cursive;
    font-size: 25px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
}

.about-contents {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.about-footer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.about-container {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    overflow: scroll;
}