#contact-background {
    background-color: cornflowerblue;
}

.contact-logo {
    font-family: cursive;
    font-size: 25px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
}

.contact-contents {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.contact-footer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}