#items-background {
    background-color: cornflowerblue;
}

.items-logo {
    font-family: cursive;
    font-size: 18px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
}

.items-footer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.items-contents {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

table, tr {
    border: 0.5px solid lightslategray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 0.5px solid lightslategray;
    border-collapse: collapse;
    /*margin-left: auto;
    margin-right: auto; */
    padding: 5px;
}

.items-name {
    font-size: 12px;
    font-weight: normal;
    text-decoration-color: slategray;
    text-align: left;
}

.items-price {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.image_thumbnail {
    display: block;
    height: 136px;
    width: 136px;
}

/* for the links */
/*
a:link {
	color: gray;
	background-color: white;
	text-decoration: none;
}

a:visited {
	color: gray;
	background-color: transparent;
	text-decoration: none;
}


a:hover {
	color: inherit;
    cursor: pointer;
	text-decoration: none;	
}



a:active {
	color: gray;
	background-color: transparent;
	text-decoration: none;	
}*/

/*
.btn {
    background-color: lightslategray;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 30px;
    text-decoration: none;
    display: inline-block;
}

.userOption {
    color: blue;
    text-decoration: underline;
    padding-left: 1%;
}
*/

/*
.image_large {
	height: 400px;
	width: 400px;
}

h1 {
    color: white;
}

h3 {
  font-family: 'Helvetica Neue',Sans-serif, monospace;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: 'Helvetica Neue',Sans-serif, monospace;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-family: 'Helvetica Neue',Sans-serif, monospace;
  font-weight: normal;
  text-align: left;
}

header {
  font-family: 'Helvetica Neue',Sans-serif, monospace;
  font-size: 0.9em;
  text-align: right;
}
*/

.container {
    background-color: orange;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    /*overflow: scroll;*/
}