/* for the links */
a:link {
	color: gray;
	background-color: white;
	text-decoration: none;
}

a:visited {
	color: gray;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: gray;
	background-color: transparent;
	text-decoration: none;	
}

a:active {
	color: gray;
	background-color: transparent;
	text-decoration: none;	
}

.userOption {
    color: blue;
    text-decoration: underline;
    padding-left: 1%;
}

/*banner {*/
  /*background: 'Color.Seagreen';*/
/*}*/

.image_thumbnail {
    display: block;
	height: auto;
	width: 100%;
}

.image_large {
	height: 400px;
	width: 400px;
}

h1 {
    text-align: center;
}

h3 {
  font-family: 'Helvetica Neue',Sans-serif;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: 'Helvetica Neue',Sans-serif;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-family: 'Helvetica Neue',Sans-serif;
  font-weight: normal;
  text-align: left;
}

header {
  /*background-color: #f2f2f2;*/
  font-family: 'Helvetica Neue',Sans-serif;
  font-size: 0.9em;
  text-align: right;
}

main {
  background-color: powderblue;
}

footer {
  background: pink;
  font-family: 'Helvetica Neue',Sans-serif;
  font-size: 0.75em;
  text-align: center;
}

.path {
  font-family: 'Helvetica Neue',Sans-serif;
  font-size: .9em; 	
  text-decoration-color: lightgray;
}

table, th, td, tr {
	border: 2px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table {
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
}

#description {

}

#pagetitle {
  font-family: 'Helvetica Neue',Sans-serif;
  font-size: 1em;
  text-align: center;  
}